[submodule ".registry"]
	path = .registry
	url = https://github.com/h20gg702/h20gg702.r-universe.dev
	branch = HEAD
[submodule "vbracket"]
	path = vbracket
	url = https://github.com/h20gg702/vbracket
